<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Ecom App</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<!--navbar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/">Ecom App</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/products">Products</a></li>
            <li><a href="#">Suppliers</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Username
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Logout</a></li>
                    <li><a href="#">Change password</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<!--layout-->
<div layout:fragment="content"></div>

</body>
</html>